<a href="https://colab.research.google.com/github/NTharuka/Pyspark/blob/main/PySpark_Real_Time_End_to_End_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spark in /usr/local/lib/python3.8/dist-packages (0.2.1)

In [ ]:
import pandas as pd
import spark as sc

d = {"a": [1,2,3,4],
     "b": [4,5,6,7],
     "c": [3,4,5,6]}
df = pd.DataFrame(d)

In [ ]:
display(df)

   a  b  c
0  1  4  3
1  2  5  4
2  3  6  5
3  4  7  6

In [ ]:
df1=spark.createDataFrame(df)

In [ ]:
display(df)

   a  b  c
0  1  4  3
1  2  5  4
2  3  6  5
3  4  7  6

In [ ]:
from datetime import datetime, date
df = spark.createDataFrame([
    (1,2.,'string1', datetime(2000,1,1,12,0)),
    (1,2.,'string1', datetime(2000,1,1,12,0)),
    (1,2.,'string1', datetime(2000,1,1,12,0))
], schema='a long, b double, c string, d date, e timestap')
df

In [ ]:
display(df)

In [ ]:
df = spark.read.csv("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv" )

In [ ]:
display(df)

In [ ]:
df= spark.read.json("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [ ]:
first_row_is_header="true"
df= spark.read.format("csv").option("header",first_row_is_header).load("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [ ]:
display(df)

In [ ]:
first_row_is_header="true"
infer_schema="true"
df= spark.read.format("csv").option("header",first_row_is_header).option(inferSchema,infer_schema)load("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [ ]:
display(df)

In [ ]:
df.show()

In [ ]:
df.show(5)

In [ ]:
df.select('user','salary').show()

In [ ]:
df.collect()

In [ ]:
df.take(5)

In [ ]:
df.tail(2)

In [ ]:
df.describe().show()

In [ ]:
df.groupby('location').avg().show()

In [ ]:
df.filter(df.user==1).show()

In [ ]:
df.filter(df.JobRole=='Sales Executive').show()

In [ ]:
df.filter(df.MonthlyIncome>10000).show()

In [ ]:
df2=withColumnRenamed("location","loc")

In [ ]:
df.sort(df.MonthlyIncome.desc()).show()

In [ ]:
df.orderBy(df.MonthlyIncome.desc()).show()